@page
@model FreshFarmMarket.Pages.errors._500Model

@{
    ViewData["title"] = "Internal Server Errpr";
}
<div class="container" style="text-align: center; color: #888;">
    <h1 style="font-size: 150px; color: #888; margin-bottom: 0px;">500</h1>
    <p style="font-size: 50px; ">There is an error on the server side.</p>
    <p>
        More details
        about error could be logged to EventLog, database or plain text files.
    </p>
    <p>Please navigate back to <a href="https://localhost:7159/Login?ReturnUrl=%2F">Login Page</a></p>
</div>
